<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Looged out</title>
  </head>
  <body>
    <h2>{{name}}, you have been successfully logged out</h2>
    <p>Redirecting to home page in a moment...</p>
    {{>footer}}
  </body>
  <script>
    setTimeout(function(){ window.location.href = '/'; }, 2000);
  </script>
</html>
